@use './variables';

header {
   background-color: variables.$tertiary;
   display: flex;
   margin-bottom: 90px;
   align-items: center;
   flex-wrap: wrap;

   .headerImgContainer {
      width: 45%;
   }

   .headerTextContainer {
      width: 55%;
      padding: 0 90px;   
   }

}